/**************************
BASE STYLES
**************************/

* {
  box-sizing: border-box;
}

#wrapper {
    width: 75%;
    margin: 8px auto;
    background-color: lightgrey;
}

h2 {
    font-family: 'Roboto Slab';
    padding: 10px 15px 6px;
}