/**************************
BASE STYLES
**************************/

* {
  box-sizing: border-box;
}

#wrapper {
    width: 100%;
    margin: 8px auto;
}

h2 {
    font-family: 'Roboto Slab';
    padding: 10px 15px 6px;
    text-align: center;
}

p {
    font-family: sans-serif;
    line-height: 1.5em;
    margin: 0 auto;
    padding: 20px 15px 0 15px;
}

.highlight {
    color: orange;
}

.videoPlayer {
    text-align: center;
}

video {
    width: 320px;
}

@media (min-width: 768px) {
    video {
        width: 720px;
    }
    
    .videoPlayer {
        text-align: center;
    }
    
    .captionArea {
        width: 720px;
        margin: 0 auto;
    }
    
    p {
        line-height: 2em;
    }
}